<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] 공통 여백 및 페이지 타이틀</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="m-5 space-y-10">
    <h1 class="text-3xl font-bold">[컴포넌트] 공통 여백 및 페이지 타이틀</h1>

    <!-- header 컴포넌트 넣어주세요. -->
    <div class="wrapper px-5 pt-5 pb-22.5 md:p-7.5 lg:pt-10 lg:px-15 lg:pb-22.5">
      <div class="inner max-w-[1620px] mx-auto">
        <h2 class="hidden text-[2.125rem] text-brown text-center font-bold lg:block lg:mt-10 lg:mb-12.5">각 페이지 타이틀</h2>

        <!-- 타이틀 아래의 본문 내용은 여기서 작성해주세요. div말고 다른 태그 넣어도 됩니다.-->
        <div></div>
      </div>
    </div>
    <!-- footer 컴포넌트 넣어주세요. -->
  </body>
</html>
