<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] 공통 버튼 및 라벨</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="flex">
    <h1 class="text-3xl font-bold">[컴포넌트] 공통 버튼 및 라벨</h1>

    <!-- 앞 아이콘 링크 이동 버튼 -->
    <div>
      <h2 class="2xl font-bold">앞 아이콘 링크 이동 버튼</h2>
      <a href="#" class="py-[.7188rem] pr-4 pl-[2.125rem] text-xs text-brown text-center rounded-[3.125rem] bg-brown-0.05 bg-[url('/src/assets/ico_store.svg')] bg-no-repeat bg-[left_14px_center] bg-[length:14px]">가맹점 모집</a>
    </div>

    <!-- 뒤 아이콘 링크 이동 버튼 -->
    <div>
      <h2 class="2xl font-bold">뒤 아이콘 링크 이동 버튼</h2>
      <a href="#" class="py-[.7188rem] pr-4 pl-[2.125rem] text-xs text-brown text-center rounded-[3.125rem] bg-brown-0.05 bg-[url('/src/assets/ico_store.svg')] bg-no-repeat bg-[left_14px_center] bg-[length:14px]">인재채용</a>
    </div>

    <!-- 메뉴소개 버튼-->
    <div>
      <h2 class="2xl font-bold">메뉴소개 버튼 default</h2>
      <a href="#" class="py-[.3125rem] px-4 text-xs text-brown text-center rounded-[3.125rem] bg-brown-0.05">추천메뉴</a>

      <h2 class="2xl font-bold">메뉴소개 버튼 active</h2>
      <a href="#" class="py-[.3125rem] px-4 text-xs text-white text-center rounded-[3.125rem] bg-brown">추천메뉴</a>
    </div>

    <!-- 메뉴소개 버튼 active-->
    <div></div>
  </body>
</html>
