<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] 공통 버튼 및 라벨</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="space-y-10 m-10">
    <!-- 메인 메뉴 소개 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - main</h2>
      <span class="inline-block py-[.3125rem] pr-[.4375rem] px-1 text-3xs sm:px-[.625rem] sm:py-2 sm:text-xs bg-beige text-brown rounded-lg">메뉴소개</span>
    </div>
    <!-- 메인 메뉴 소개 라벨 -->

    <!-- 메인 광고 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - main 광고</h2>
      <strong class="rounded-lg text-white bg-brown pt-[.3125rem] pb-1 px-[.8125rem] text-[1.5vw] hidden lg:inline-block">픽업오더</strong>
    </div>
    <!-- 메인 광고 라벨 -->

    <!-- 메뉴 뉴 large 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - menu large new</h2>
      <strong class="font-Flame rounded-[.3125rem] py-[2.5px] text-white bg-ci lg:py-[3px] lg:px-[.625rem] lg:text-xs l px-1 text-[.6875rem]">NEW</strong>
    </div>
    <!-- 메뉴 뉴 large 라벨 -->

    <!-- 메뉴 뉴 small 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - menu small new</h2>
      <strong class="font-Flame rounded-[.3125rem] pt-[2px] pb-[3px] text-white bg-ci px-1 text-[.6875rem]">NEW</strong>
    </div>
    <!-- 메뉴 뉴 small 라벨 -->

    <!-- 메뉴 베스트 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - menu BEST</h2>
      <strong class="font-Flame rounded-[.3125rem] text-white bg-[#ff8732] lg:py-[3px] lg:px-[.625rem] lg:text-xs px-1 py-[2.5px] text-[.6875rem]">BEST</strong>
    </div>
    <!-- 메뉴 베스트 라벨 -->

    <!-- 메뉴 베스트 small 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - menu Best new</h2>
      <strong class="font-Flame rounded-[.3125rem] pt-[2px] pb-[3px] text-white bg-[#ff8732] px-1 text-[.6875rem]">BEST</strong>
    </div>
    <!-- 메뉴베스트 small 라벨 -->

    <!-- 이벤트 진행중 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - event 진행중</h2>
      <span class="inline-block rounded-[.3125rem] text-light-beige bg-brown py-[.375rem] px-[.625rem] text-3xs">진행중</span>
    </div>
    <!-- 이벤트 진행중 라벨 -->

    <!-- 이벤트 종료 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - event 종료</h2>
      <span class="inline-block rounded-[.3125rem] text-light-beige bg-brown-0.7 pt-[.375rem] pb-[.3125rem] px-[.3125rem] text-2xs">종료</span>
    </div>
    <!-- 이벤트 종료 라벨 -->

    <!-- 이벤트 상세 종료 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - event 상세 종료</h2>
      <span class="inline-block rounded-[.3125rem] text-brown bg-brown-0.1 py-[.375rem] px-[.3125rem] text-3xs">종료</span>
    </div>
    <!-- 이벤트 상세 종료 라벨 -->

    <!-- 스토어 적립 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - Store 적립 매장</h2>
      <span class="inline-block rounded-[1.875rem] bg-[url('/src/assets/elements/ico_crown.svg')] py-[.1563rem] bg-no-repeat text-2xs bg-brown-0.05 text-brown bg-[length:1rem] bg-[left_5px_center] pl-[25px] pr-[5px]">멤버십 적립매장</span>
    </div>
    <!-- 스토어 적립 라벨 -->

    <!-- 매장 상세 서비스 라벨 -->
    <div>
      <h2 class="2xl font-bold">label - 매장 상세 서비스 라벨</h2>
      <span class="inline-block px-[.625rem] py-[.2813rem] bg-transparent border-1 border-[#e4d7c8] text-2xs text-[#89665b] rounded-[1.25rem]">킹오더</span>
    </div>
    <!-- 매장 상세 서비스 라벨 -->
  </body>
</html>
