<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] 공통 버튼 및 라벨</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1>메뉴 컴포넌트</h1>
    <div>
      <!-- st: new 메뉴 컴포넌트 -->
      <ul class="grid grid-cols-2 gap-x-2 gap-y-2.5 md:grid-cols-3 md:gap-3 lg:grid-cols-4 lg:gpa-4.5">
        <li class="relative pt-[1.75rem] px-[.75rem] pb-[.625rem] rounded-[.625rem] bg-light-beige text-center lg:pt-[2.375rem] lg:px-[1.125rem] lg:pb-5 shadow-[0_0_10px_rgba(0,0,0,0.05)]">
          <a href="#" aria-labelledby="menu-title menu-description">
            <img src="/src/assets/menu/burger/burger_1.webp" alt="몬스터와퍼" class="max-h-[105px] mx-auto" />
            <h3 class="mt-[.3125rem] mb-[1em] text-sm text-brown leading-[1] lg:text-lg lg:mb-0">몬스터와퍼</h3>
            <span class="text-3xs text-brown-0.7 lg:text-2xs">몬스터와퍼</span>
            <strong class="absolute top-[8px] left-[12px] font-Flame rounded-[.3125rem] text-white bg-ci py-[.0625rem] px-1 text-[.6875rem] lg:top-5 lg:left-4.5">NEW</strong>
          </a>
        </li>
        <!-- Ed: new 메뉴 컴포넌트 -->
        <!-- st: best 메뉴 컴포넌트 -->
        <li class="relative pt-[1.75rem] px-[.75rem] pb-[.625rem] rounded-[.625rem] bg-light-beige text-center lg:pt-[2.375rem] lg:px-[1.125rem] lg:pb-5 shadow-[0_0_10px_rgba(0,0,0,0.05)]">
          <a href="#" aria-labelledby="menu-title menu-description">
            <img src="/src/assets/menu/burger/burger_1.webp" alt="몬스터와퍼" class="max-h-[105px] mx-auto" />
            <h3 class="mt-[.3125rem] mb-[1em] text-sm text-brown leading-[1] lg:text-lg lg:mb-0">몬스터와퍼</h3>
            <span class="text-3xs text-brown-0.7 lg:text-2xs">몬스터와퍼</span>
            <strong class="absolute top-[8px] left-[12px] font-Flame rounded-[.3125rem] pt-[2px] pb-[3px] text-white bg-[#ff8732] py-[0.625rem] px-1 text-[.6875rem] lg:top-5 lg:left-4.5">BEST</strong>
          </a>
        </li>
        <!-- ed : best 메뉴 컴포넌트 -->
        <!-- st : 메뉴 컴포넌트 -->
        <li class="relative pt-[1.75rem] px-[.75rem] pb-[.625rem] rounded-[.625rem] bg-light-beige text-center lg:pt-[2.375rem] lg:px-[1.125rem] lg:pb-5 shadow-[0_0_10px_rgba(0,0,0,0.05)]">
          <a href="#" aria-labelledby="menu-title menu-description">
            <img src="/src/assets/menu/burger/burger_1.webp" alt="몬스터와퍼" class="max-h-[105px] mx-auto" />
            <h3 class="mt-[.3125rem] mb-[1em] text-sm text-brown leading-[1] lg:text-lg lg:mb-0">몬스터와퍼</h3>
            <span class="text-3xs text-brown-0.7 lg:text-2xs">몬스터와퍼</span>
          </a>
        </li>
        <li class="relative pt-[1.75rem] px-[.75rem] pb-[.625rem] rounded-[.625rem] bg-light-beige text-center lg:pt-[2.375rem] lg:px-[1.125rem] lg:pb-5 shadow-[0_0_10px_rgba(0,0,0,0.05)]">
          <a href="#" aria-labelledby="menu-title menu-description">
            <img src="/src/assets/menu/burger/burger_1.webp" alt="몬스터와퍼" class="max-h-[105px] mx-auto" />
            <h3 class="mt-[.3125rem] mb-[1em] text-sm text-brown leading-[1] lg:text-lg lg:mb-0">몬스터와퍼</h3>
            <span class="text-3xs text-brown-0.7 lg:text-2xs">몬스터와퍼</span>
          </a>
        </li>
        <!-- ed : 메뉴 컴포넌트 -->
      </ul>
    </div>
  </body>
</html>
