<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] STORY</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="m-5 space-y-10 pb-[500px]">
    <h1 class="text-3xl font-bold">STORY 메뉴 하위 페이지 컴포넌트 모음</h1>

    <!-- ST: 브랜드 CARD 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">브랜드 CARD 컴포넌트</h2>
      <article class="px-[.9375rem] py-7.5 rounded-[.625rem] bg-light-beige md:p-7.5 lg:flex lg:gap-x-15 lg:items-center">
        <div id="global" class="lg:w-1/2">
          <h3 class="font-BKBulMatPro text-lg text-brown text-center md:text-3xl lg:text-5xl">버거킹 GLOBAL</h3>
          <div class="mt-5 space-y-[1em] text-xs text-brown leading-[1.3] md:text-sm">
            <p>세계 최대 QSR(Quick Service Restaurant) 브랜드 중 하나인 버거킹은 <span class="shadow-[inset_0_-5px_rgba(255,0,0,0.2)]">1954년 미국 마이애미</span>에서 James W.McLamore와 David Edgerton에 의해 설립되었습니다.</p>
            <p>버거킹은 현재 100개 이상의 국가에서 19,500개 이상의 매장을 운영하고 있습니다.</p>
            <p>고기를 팬에 굽는 일반 QSR과 달린, <span class="shadow-[inset_0_-5px_rgba(255,0,0,0.2)]">버거킹은 고기를 직접 불에 구워 조리하는 직화 방식 (Flame-griling)으로 담백하고 풍부한 맛과 향, </span> 그리고 정통 햄버거의 풍미를 선보이고 있습니다.</p>
            <p>버거킹의 대표 제품인 와퍼(Whopper)는 100% 순 쇠고기 패티와 함께 양상추, 토마토, 양파, 피클 등 4가지 신선한 야채가 어우러진 풍부한 맛으로 전세계 고객에게 사랑 받고 있습니다.</p>
          </div>
        </div>
        <div class="lg:w-[calc(50%-1.875rem)]">
          <img src="/src/assets/story/brand/brand_2.webp" alt="초기 버거킹 매장 이미지" aria-describedby="global" class="mx-auto mt-5 lg:mt-0" />
        </div>
      </article>
    </div>
    <!-- ED: 브랜드 CARD 컴포넌트 -->

    <!-- ST: Why, ESG, QSR 상단 목차 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">Why, ESG, QSR 상단 목차 컴포넌트</h2>
      <div class="p-5 rounded-[.625rem] bg-light-beige md:p-7.5 lg:p-10">
        <h3 class="font-BKBulMatPro text-lg text-brown text-center md:text-3xl lg:text-5xl">우리가 버거의 킹인 7가지 이유</h3>
        <p class="mt-4.5 text-sm text-brown-0.7 text-center leading-[1.3] md:text-base lg:text-lg">
          70년 넘게 전세계 고객에게 꾸준히 사랑 받아 온<br />
          버거킹의 특급 비법을 지금 바로 공개합니다!
        </p>
        <ul class="grid gap-2.5 mt-5 lg:grid-cols-2">
          <li class="flex items-center gap-2.5 min-h-13.5 p-[.625rem_.9375rem] rounded-[10px] bg-beige text-sm">
            <p class="flex-1 pl-6.5 text-brown bg-[url(/src/assets/elements/ico_tick.svg)] bg-no-repeat bg-[left_center]">버거킹의 자랑, 와퍼!</p>
            <button type="button" aria-label="'버거킹의 자랑, 와퍼!' 위치로 스크롤" class="w-6 h-[2.125rem] bg-[url(/src/assets/elements/ico_dropdown.svg)] bg-no-repeat bg-[right_center]"></button>
          </li>
          <li class="flex items-center gap-2.5 p-[.625rem_.9375rem] rounded-[10px] bg-beige text-sm">
            <p class="flex-1 pl-6.5 text-brown bg-[url(/src/assets/elements/ico_tick.svg)] bg-no-repeat bg-[left_center]">불맛에 진심인 브랜드</p>
            <button type="button" aria-label="'불맛에 진심인 브랜드' 위치로 스크롤" class="w-6 h-[2.125rem] bg-[url(/src/assets/elements/ico_dropdown.svg)] bg-no-repeat bg-[right_center]"></button>
          </li>
        </ul>
      </div>
    </div>
    <!-- ED: Why, ESG, QSR 상단 목차 컴포넌트 -->

    <!-- ST: Why 카드 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">Why 카드 컴포넌트</h2>
      <div class="p-5 rounded-[.625rem] bg-light-beige md:px-7.5 md:p-7.5 lg:flex lg:gap-x-15 lg:items-center">
        <div id="whopper" class="space-y-5 lg:w-1/2 lg:space-y-7.5">
          <h3 class="text-2xs text-brown font-bold md:text-sm">버거킹의 자랑, 와퍼!</h3>
          <strong class="block font-BKBulMatPro text-lg text-brown leading-[1.1] md:text-3xl lg:text-5xl lg-leading-[1.2]">Real WHOPPER</strong>
          <div class="mb-5 space-y-[1em] text-xs text-brown-0.7 leading-[1.3] md:text-sm">
            <p>전 세계적으로 사랑 받는 WHOPPER는 불에 직접 구운 100% 순쇠고기 패티 위에 신선한 토마토, 양상추, 양파, 마요네즈, 케첩, 상큼한 피클을 올린 버거킹의 대표 제품 입니다.</p>
            <p>버거킹은 더 건강하고 믿을 수 있는 와퍼를 만들기 위해 끊임 없이 노력 했습니다.</p>
            <p>와퍼의 모든 재료에 대해 향료, 색소, 보존제, 첨가제 등의 제품 성분 개선 활동을 통해 더욱 믿을 수 있고, 더욱 맛있는 리얼 와퍼가 탄생하였습니다!</p>
          </div>
        </div>
        <div class="lg:w-[calc(50%-1.875rem)]">
          <img src="/src/assets/story/whyburgerking/whyburgerking_2.webp" alt="버거킹 와퍼를 손으로 든 이미지" aria-describedby="whopper" class="hidden lg:block mx-auto" />
        </div>
      </div>
    </div>
    <!-- ED: Why 카드 컴포넌트 -->

    <!-- ST: QSR 카드 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">QSR 카드 컴포넌트</h2>
      <div class="p-5 rounded-[.625rem] bg-light-beige md:px-7.5 md:p-7.5 lg:flex lg:gap-x-15 lg:items-center">
        <div class="space-y-5 lg:w-1/2 lg:space-y-7.5">
          <h3 class="text-2xs text-brown font-bold md:text-sm">모바일 오더 UX 강화</h3>
          <strong class="block font-BKBulMatPro text-lg text-brown leading-[1.1] md:text-3xl lg:text-5xl lg-leading-[1.2]">미리 주문 직접 픽업 킹오더, 집과 회사로 배달 딜리버리오더</strong>
          <div id="burgerkingAPP" class="mb-5 space-y-[1em] text-sm text-brown-0.7 leading-[1.47] md:text-lg">
            <p>
              버거킹은 '가장 스마트한 QSR(Smartest QSR) 브랜드'를 목표로 '버거킹 앱'을 핵심 디지털 플랫폼으로 구축하고<br />
              옴니채널 전략과 UX/UI에 대한 투자 등 사용자 경험향상을 위해 끊임 없이 노력하고 있습니다.
            </p>
            <p>
              버거킹 앱은 누적 다운로드 수 약 1000만(2023년 7월 기준)을 달성하였으며,<br />
              월간 앱 활성 이용자 수 190만명(2023년 7월 기준)을 기록하는 등 동종 QSR업계에서<br />
              압도적으로 높은 수준을 유지하고 있습니다.
            </p>
          </div>
        </div>
        <div class="lg:w-[calc(50%-1.875rem)]">
          <img src="/src/assets/story/smartqsr/smartqsr_1.webp" alt="버거킹 앱을 사용하는 손을 표현한 그림 이미지" aria-describedby="burgerkingAPP" class="mx-auto" />
        </div>
      </div>
    </div>
    <!-- ED: QSR 카드 컴포넌트 -->

    <!-- ST: ESG 카드 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">ESG 카드 컴포넌트</h2>
      <div class="p-5 rounded-[.625rem] bg-light-beige md:px-7.5 md:p-7.5 lg:flex lg:gap-15 lg:items-center">
        <div id="campaign" class="space-y-5 lg:w-1/2 lg:space-y-7.5">
          <h3 class="text-2xs text-brown-0.7 font-bold md:text-sm">플라스틱 빨대 사용 줄이기 캠페인</h3>
          <strong class="block font-BKBulMatPro text-lg text-brown leading-[1] md:text-3xl lg:text-5xl lg-leading-[1.2]">저희 매장은 빨대 없는 뚜껑을 제공합니다.</strong>
          <p class="text-sm text-brown leading-[1.47] md:text-lg">
            일부 음료에 한하여<br />
            빨대 제공시, 음료당 1개의 종이 빨대를 제공합니다.
          </p>
        </div>
        <div class="mt-5 lg:mt-0 lg:w-[calc(50%-1.875rem)]">
          <img src="/src/assets/story/esgbusiness/esgbusiness_1.webp" alt="STOP USING PLASTIC STRAWS" aria-describedby="campaign" class="mx-auto" />
        </div>
      </div>
    </div>
    <!-- ED: ESG 카드 컴포넌트 -->

    <!-- ST: 수상실적 카드 리스트 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">수상실적 카드 리스트 컴포넌트</h2>
      <div>
        <h3 class="font-BKBulMatPro text-[1.25rem] text-brown md:text-5xl">2024</h3>
        <ul class="grid lg:grid-cols-2 gap-x-15 gap-y-2.5 lg:mt-2.5 lg:gap-y-5">
          <li class="flex gap-2.5 md:gap-5">
            <div class="w-25 md:w-40">
              <img src="/src/assets/story/growth/growth_1.webp" alt="기본 트로피 이미지" aria-describedby="price1" />
            </div>
            <div id="price1" class="space-y-2.5 leading-[1.1] flex-1">
              <p class="text-brown-0.7 text-xs lg:text-lg">2024년 08월</p>
              <h4 class="font-bold text-brown text-sm lg:mb-[1.25rem] lg:text-2xl">부산국제광고제 Stratedy Star 부문 크리스탈상(아임낫킹)</h4>
              <span class="text-brown text-xs lg:text-lg">부산국제광고제</span>
            </div>
          </li>
          <li class="flex gap-2.5 md:gap-5">
            <div class="w-25 md:w-40">
              <img src="/src/assets/story/growth/growth_1.webp" alt="기본 트로피 이미지" aria-describedby="price2" />
            </div>
            <div id="price2" class="space-y-2.5 leading-[1.1] flex-1">
              <p class="text-brown-0.7 text-xs lg:text-lg">2024년 12월</p>
              <h4 class="font-bold text-brown text-sm lg:mb-[1.25rem] lg:text-2xl">대한미국광고대상 오디오부문 대상(두툼버거)</h4>
              <span class="text-brown text-xs lg:text-lg">대한민국광고대상</span>
            </div>
          </li>
          <li class="flex gap-2.5 md:gap-5">
            <div class="w-25 md:w-40">
              <img src="/src/assets/story/growth/growth_1.webp" alt="기본 트로피 이미지" aria-describedby="price3" />
            </div>
            <div id="price3" class="space-y-2.5 leading-[1.1] flex-1">
              <p class="text-brown-0.7 text-xs lg:text-lg">2024년 12월</p>
              <h4 class="font-bold text-brown text-sm lg:mb-[1.25rem] lg:text-2xl">대한민국광고대상 Brand Experience & Activation 부문 은상(와퍼타투)</h4>
              <span class="text-brown text-xs lg:text-lg">대한민국광고대상</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- ED: 수상실적 카드 리스트 컴포넌트 -->

    <!-- ST: 광고영상 카드 리스트 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">수상실적 카드 리스트 컴포넌트</h2>
      <div>
        <h3 class="font-BKBulMatPro text-[1.25rem] text-brown md:text-5xl lg:text-6xl">2025</h3>
        <ul class="grid gap-y-5 mt-2.5 md:grid-cols-2 md:gap-x-3 md:gap-y-7.5 md:mt-7.5 lg:grid-cols-3 lg:gap-x-5">
          <li>
            <div class="relative">
              <img src="/src/assets/story/adarchive/adarchive_11.webp" alt="콰트로치즈 풀드비프 와퍼 광고영상 썸네일 이미지" class="w-full rounded-[.625rem]" />
              <button type="button" aria-label="'콰트로치즈 풀드비프 와퍼' 광고 영상 팝업 열기" class="absolute top-1/2 left-1/2 w-25 h-25 translate-x-[-50%] translate-y-[-50%] bg-[url(/src/assets/elements/btn_play.svg)] bg-no-repeat bg-center bg-[length:3rem] md:bg-[length:auto]"></button>
            </div>
            <h4 class="mt-2.5 text-brown lg:text-3xl">콰트로치즈 풀드비프 와퍼</h4>
          </li>
          <li>
            <div class="relative">
              <img src="/src/assets/story/adarchive/adarchive_10.webp" alt="불끈버거 광고영상 썸네일 이미지" class="w-full rounded-[.625rem]" />
              <button type="button" aria-label="'콰트로치즈 풀드비프 와퍼' 광고 영상 팝업 열기" class="absolute top-1/2 left-1/2 w-25 h-25 translate-x-[-50%] translate-y-[-50%] bg-[url(/src/assets/elements/btn_play.svg)] bg-no-repeat bg-center bg-[length:3rem] md:bg-[length:auto]"></button>
            </div>
            <h4 class="mt-2.5 text-brown leading-[1.1] lg:text-3xl">[불끈버거] 먹으면 불끈 힘이 나는, 불 끈 영웅들의 버거</h4>
          </li>
          <li>
            <div class="relative">
              <img src="/src/assets/story/adarchive/adarchive_11.webp" alt="콰트로치즈 풀드비프 와퍼 광고영상 썸네일 이미지" class="w-full rounded-[.625rem]" />
              <button type="button" aria-label="'콰트로치즈 풀드비프 와퍼' 광고 영상 팝업 열기" class="quatro absolute top-1/2 left-1/2 w-25 h-25 translate-x-[-50%] translate-y-[-50%] bg-[url(/src/assets/elements/btn_play.svg)] bg-no-repeat bg-center bg-[length:3rem] md:bg-[length:auto]"></button>
            </div>
            <h4 class="mt-2.5 text-brown lg:text-3xl">콰트로치즈 풀드비프 와퍼</h4>
          </li>
        </ul>
      </div>
    </div>
    <!-- ED: 광고영상 카드 리스트 컴포넌트 -->

    <!-- ST: 광고영상 모달 컴포넌트 -->
    <div>
      <h2 class="mb-4 2xl font-bold">광고영상 모달 컴포넌트</h2>
      <p>위에 광고 영상을 눌러보세요</p>
      <dialog id="dialog" class="top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] justify-center items-center w-full h-full bg-transparent [&::backdrop]:bg-brown [&::backdrop]:opacity-80">
        <div class="max-w-125 w-full min-h-37.5 rounded-[1.25rem] bg-beige lg:max-w-none lg:w-[60vw] lg:min-w-160">
          <header class="flex justify-end">
            <button type="button" aria-label="광고 영상 모달창 닫기" class="close-dialog block w-[3.375rem] h-[3.375rem] bg-[url(/src/assets/elements/btn_pop_close.svg)] bg-no-repeat bg-center"></button>
          </header>
          <div>
            <iframe data-v-2e28f2b0="" class="w-full h-[70vh]" src="https://www.youtube.com/embed/6LbnTsNSZWM?autoplay=1&amp;mute=1" title="콰트로치즈 풀드비프 와퍼" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
          </div>
          <footer class="p-[.9375rem] lg:pt-5 lg:px-7.5 lg:pb-[1.5625rem]">
            <h3 class="text-lg text-brown font-bold leading-[1.2]">콰트로치즈 풀드비프 와퍼</h3>
          </footer>
        </div>
      </dialog>
    </div>
    <!-- ED: 광고영상 모달 컴포넌트 -->
    </div>
  </body>

  <script type="module">
    // 광고영상 모달 컴포넌트 스크립트
    document.addEventListener('DOMContentLoaded', () => {
      let body = document.querySelector('body');

      let showDialogButton = document.querySelector('.quatro');
      let closeDialogButton = document.querySelector('.close-dialog');
      let dialog = document.querySelector('#dialog');
      let iframe = dialog.querySelector('iframe');

      const showModal = () => {
        dialog.showModal();
        dialog.style.display = 'flex';
        body.style.overflow = 'hidden';
      };
      const closeModal = () => {
        dialog.close();
        dialog.style.display = 'none';
        iframe.src = iframe.src;
        body.style.overflow = 'auto';
      };

      showDialogButton.addEventListener('click', showModal);
      closeDialogButton.addEventListener('click', closeModal);
    });
  </script>
</html>
