<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>[컴포넌트] 공통 버튼 및 라벨</title>
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-400.woff" crossorigin="anonymous" />
    <link rel="preload" as="font" href="/fonts/Sandoll-GothicNeoRound-700.woff" crossorigin="anonymous" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body class="px-[20px] sm:px-[30px] max-w-[1620px] m-auto">
    <!-- 광고영상 -->
    <div class="py-10">
      <ul class="grid grid-cols-1 gap-x-1 lg:grid-cols-3 lg:gap-3">
        <!-- 콰트로치즈 폴드비프 와퍼 -->
        <li>
          <figure class="rounded-[20px] items-center relative sm:pb-[26px]">
            <img class="rounded-[20px] w-full h-full" src="/src/assets/main/ad_1.webp" alt="콰트로치즈 폴드비프 와퍼" />
            <a class="absolute top-[40%] left-[50%] -translate-x-[50%] -translate-y-[50%] w-[50px] h-[50px] lg:top-[30%] sm:w-[86px] sm:h-[86px] bg-cover bg-center bg-[url('/src/assets/elements/btn_play.svg')]" href="#"></a>
            <figcaption class="sm:h-[73px] sm:text-3xl text-center text-brown text-lg p-[20px] font-bold">콰트로치즈 풀드비프 와퍼</figcaption>
          </figure>
        </li>
        <!-- 콰트로치즈 폴드비프 와퍼 -->

        <!-- 불끈 버거 -->
        <li class="lg:block hidden">
          <figure class="rounded-[20px] items-center relative sm:pb-[26px]">
            <img class="rounded-[20px] w-full h-full" src="/src/assets/main/ad_2.webp" alt="불끈버거" />
            <a class="absolute top-[40%] left-[50%] -translate-x-[50%] -translate-y-[50%] w-[50px] h-[50px] lg:top-[30%] sm:w-[86px] sm:h-[86px] bg-cover bg-center bg-[url('/src/assets/elements/btn_play.svg')]" href="#"></a>
            <figcaption class="sm:h-[73px] sm:text-3xl text-center text-brown text-lg p-[20px] font-bold">[불끈버거] 먹으면 불끈 힘이 나는, 불 끈 영웅들의 버거</figcaption>
          </figure>
        </li>
        <!-- 불끈 버거 -->

        <!-- 스파이시 풀드비프 와퍼 -->
        <li class="lg:block hidden">
          <figure class="rounded-[20px] items-center relative sm:pb-[26px]">
            <img class="rounded-[20px] w-full h-full" src="/src/assets/main/ad_3.webp" alt="콰트로치즈 폴드비프 와퍼" />
            <a class="absolute top-[40%] left-[50%] -translate-x-[50%] -translate-y-[50%] w-[50px] h-[50px] lg:top-[30%] sm:w-[86px] sm:h-[86px] bg-cover bg-center bg-[url('/src/assets/elements/btn_play.svg')]" href="#"></a>
            <figcaption class="sm:h-[73px] sm:text-3xl text-center text-brown text-lg p-[20px] font-bold">풀드비프 와퍼, 스파이시 풀드비프 와퍼</figcaption>
          </figure>
        </li>
        <!-- 스파이시 풀드비프 와퍼 -->
      </ul>
      <!-- 인디케이터 -->
      <div class="w-full h-[17px] sm:min-w-[580px] sm:h-[37px] lg:hidden">
        <ul class="h-full flex flex-row justify-center items-center space-x-2">
          <li class="w-2 h-2 bg-brown rounded-full"></li>
          <li class="w-2 h-2 bg-gray-500 rounded-full"></li>
          <li class="w-2 h-2 bg-gray-500 rounded-full"></li>
        </ul>
      </div>
      <!-- 인디케이터 -->
    </div>
    <!-- 광고영상 -->

    <!-- 메뉴소개, 매장소개, why 버거킹 -->
    <div class="py-10">
      <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-[10px]">
        <!-- 메뉴소개 -->
        <li class="col-span-1">
          <div class="rounded-[20px] bg-white p-5">
            <!-- 라벨 -->
            <div class="flex items-center text-2xs h-[21px] sm:h-[36px]">
              <div class="min-w-[40px] h-full inline-block text-center whitespace-nowrap px-[7px] pt-[5px] pb-[4px] text-3xs sm:text-xs sm:px-[16px] sm:py-[10px] sm:h-[36px] rounded-lg bg-beige"><span class="text-brown">메뉴소개</span></div>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <h3 class="mt-[10px] sm:mt-[18px] min-h-[53px] lg:min-h-[66px] text-brown leading-[1.15] lg:leading-[1.5]"><span class="text-lg sm:text-2xl lg:text-3xl">버거킹만이 드릴 수 있는 특별한 맛을 소개합니다</span></h3>
            <div class="relative mt-[18px]">
              <!-- 버튼 -->
              <div class="flex justify-end items-center">
                <button class="relative h-[18px] sm:h-[24px] lg:h-[34px] lg:bg-[length:24px_24px] py-0 pr-[22px] pl-[10px] text-sm sm:text-lg text-brown bg-[url('/src/assets/elements/ico_move.svg')] bg-no-repeat bg-contain bg-right cursor-pointer"><span class="sm:mr-3 lg:mr-3">메뉴 둘러보기</span></button>
              </div>
              <!-- 버튼 -->
            </div>
            <!-- 텍스트 -->

            <!-- 이미지 -->
            <div class="mt-[20px] mr-[-20px] ml-[-20px] mb-[-20px] sm:overflow-hidden"><img class="border-none border-t-0 border-r-0 rounded-bl-[20px] rounded-br-[20px]" src="/src/assets/main/whybk_2.webp" alt="" /></div>
            <!-- 이미지 -->
          </div>
        </li>
        <!-- 메뉴 소개 -->

        <!-- 매장 소개 -->
        <li class="col-span-1">
          <div class="rounded-[20px] bg-white p-5">
            <!-- 라벨 -->
            <div class="flex items-center text-2xs h-[21px] sm:h-[36px]">
              <div class="min-w-[40px] h-full inline-block text-center whitespace-nowrap px-[7px] pt-[5px] pb-[4px] text-3xs sm:text-xs sm:px-[16px] sm:py-[10px] sm:h-[36px] rounded-lg bg-beige"><span class="text-brown">매장찾기</span></div>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <h3 class="mt-[10px] sm:mt-[18px] min-h-[53px] lg:min-h-[66px] text-brown leading-[1.15] lg:leading-[1.5]"><span class="text-lg sm:text-2xl lg:text-3xl">가장 맛있는 버거를 제공하는 프리미엄 QSR 브랜드 매장</span></h3>
            <div class="relative mt-[18px]">
              <!-- 버튼 -->
              <div class="flex justify-end items-center">
                <button class="relative h-[18px] sm:h-[24px] lg:h-[34px] lg:bg-[length:24px_24px] py-0 pr-[22px] pl-[10px] text-sm sm:text-lg text-brown bg-[url('/src/assets/elements/ico_move.svg')] bg-no-repeat bg-contain bg-right cursor-pointer"><span class="sm:mr-3 lg:mr-3">가까운 매장 찾아보기</span></button>
              </div>
              <!-- 버튼 -->
            </div>
            <!-- 텍스트 -->

            <!-- 이미지 -->
            <div class="mt-[20px] mr-[-20px] ml-[-20px] mb-[-20px] sm:overflow-hidden"><img class="border-none border-t-0 border-r-0 rounded-bl-[20px] rounded-br-[20px]" src="/src/assets/main/whybk_7.webp" alt="" /></div>
            <!-- 이미지 -->
          </div>
        </li>
        <!-- 매장 소개 -->

        <!-- Why 버거킹 -->
        <li class="sm:col-span-2 lg:col-span-1 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 sm:max-w-[1024px] sm:min-h-[220px]">
          <div class="rounded-t-[20px] sm:rounded-r-[20px] sm:rounded-t-[0px] lg:rounded-b-[0px] lg:rounded-t-[20px] bg-white relative block sm:col-span-1 order-1 sm:order-2 lg:order-1">
            <!-- 슬라이드 네비게이션 -->
            <div class="absolute top-[20%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
              <ul class="flex justify-center space-x-4 mb-4">
                <li class="w-6 h-2 bg-brown rounded-[50px]"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
              </ul>
            </div>
            <!-- 슬라이드 네비게이션 -->

            <!-- 텍스트 -->
            <div class="pt-[64px] sm:h-full px-[20px] pb-[20px] text-center lg:space-y-8 relative sm:flex sm:flex-col lg:flex lg:flex-col">
              <h3 class="min-h-[53px] leading-[1.15] sm:text-2xl -text-lg text-brown sm:leading-[1.47] lg:leading-[1.5] lg:text-3xl lg:min-h-[66px]">
                신선한 원재료 사용 <br />
                패티와 야채, 소스
              </h3>
              <!-- 버튼 -->
              <div class="flex justify-end mt-[14px] sm:mt-auto lg:mt-[0px]">
                <button class="text-brown h-[18px] text-sm sm:h-[24px] sm:text-2xl bg-[length:18px_18px] lg:h-[34px] lg:bg-[length:24px_24px] sm:bg-[length:24px_24px] sm:left-[-5px] sm:top-[-5px] bg-[url('/src/assets/elements/ico_move.svg')] bg-no-repeat bg-right cursor-pointer">
                  <span class="mr-6 sm:mr-8 lg:mr-8">Why 버거킹</span>
                </button>
              </div>
              <!-- 버튼 -->
            </div>
            <!-- 텍스트 -->
          </div>

          <!-- 이미지 -->
          <div class="relative w-full sm:col-span-1 order-2 sm:order-1 bg-white sm:rounded-l-[20px] lg:rounded-t-[0px] pt-[56.25%] lg:rounded-b-[20px]">
            <img class="rounded-b-[20px] lg:rounded-[10px] sm:rounded-t-[20px] sm:rounded-b-[0px] absolute top-0 left-0 w-full h-full object-cover" src="/src/assets/main/whybk_1.webp" alt="" />
          </div>
          <!-- 이미지 -->
        </li>
        <!-- Why 버거킹 -->
      </ul>
    </div>
    <!-- 메뉴소개, 매장소개, why 버거킹 -->

    <!-- 고객과 함께 성장하는 버거킹 -->
    <div class="pb-30">
      <ul class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3 lg:grid-flow-col">
        <!-- 브랜드 -->
        <li class="col-span-1 lg:col-span-1 lg:row-span-1">
          <div class="bg-white rounded-[20px] min-h-[124px] sm:min-h-[158px] p-5 sm:flex sm:flex-col sm:mt-[0] h-full">
            <!-- 라벨 -->
            <div class="mb-[18px]">
              <span class="min-w-[40px] sm:h-[36px] sm:px-[16px] sm:py-[10px] sm:text-xs sm:leading-[16px] inline-block text-center whitespace-nowrap pt-[5px] px-[7px] pb-[4px] text-3xs leading-[1.2] bg-beige rounded-[8px] text-brown">브랜드</span>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <div class="relative">
              <h3 class="leading-[1.15] lg:leading-[1.3] text-lg sm:text-2xl sm:leading-[1.47] lg:text-3xl text-brown">Since 1954, 전 세계 고객에게 사랑받는 글로벌 브랜드 버거킹!</h3>
            </div>
            <!-- 텍스트 -->
          </div>
        </li>
        <!-- 브랜드 -->

        <!-- ESG 경영 -->
        <li class="col-span-1 lg:col-span-1 lg:row-span-1">
          <div class="bg-white rounded-[20px] min-h-[124px] sm:min-h-[158px] p-5 sm:flex sm:flex-col sm:mt-[0] h-full">
            <!-- 라벨 -->
            <div class="mb-[18px]">
              <span class="min-w-[40px] sm:h-[36px] sm:px-[16px] sm:py-[10px] sm:text-xs sm:leading-[16px] inline-block text-center whitespace-nowrap pt-[5px] px-[7px] pb-[4px] text-3xs leading-[1.2] bg-beige rounded-[8px] text-brown">ESG 경영</span>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <div class="relative">
              <h3 class="leading-[1.15] text-lg sm:text-2xl sm:leading-[1.47] lg:text-3xl text-brown">지속 가능한 사회를 위한 버거킹의 노력</h3>
            </div>
            <!-- 텍스트 -->
          </div>
        </li>
        <!-- ESG 경영 -->

        <!-- SMART QSR -->
        <li class="col-span-1 lg:row-span-2 lg:row-end-2">
          <div class="flex min-h-[304px] flex-col rounded-[20px] bg-white p-5">
            <!-- 라벨 -->
            <div class="mb-[18px]">
              <span class="min-w-[40px] sm:h-[36px] sm:px-[16px] sm:py-[10px] sm:text-xs sm:leading-[16px] inline-block text-center whitespace-nowrap pt-[5px] px-[7px] pb-[4px] text-3xs leading-[1.2] bg-beige rounded-[8px] text-brown">SMART QSR</span>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <div class="relative pb-[20px]">
              <h3 class="leading-[1.15] text-lg sm:text-2xl sm:leading-[1.47] lg:text-3xl text-brown">온, 오프라인에서 최상의 고객 경험을 제공하는 똑똑한 QSR</h3>
            </div>
            <!-- 텍스트 -->

            <!-- 이미지 -->
            <div class="mt-auto mx-[-20px] mb-[-20px] rounded-b-[20px] overflow-hidden relative"><img src="/src/assets/main/smartqsr.webp" alt="" /></div>
            <!-- 이미지 -->
          </div>
        </li>
        <!-- SMART QSR -->

        <!-- 수상실적 -->
        <li class="col-span-1 lg:row-span-2 lg:row-end-2">
          <div class="flex min-h-[304px] flex-col rounded-[20px] bg-white p-5">
            <!-- 라벨 -->
            <div class="mb-[18px]">
              <span class="min-w-[40px] sm:h-[36px] sm:px-[16px] sm:py-[10px] sm:text-xs sm:leading-[16px] inline-block text-center whitespace-nowrap pt-[5px] px-[7px] pb-[4px] text-3xs leading-[1.2] bg-beige rounded-[8px] text-brown">수상실적</span>
            </div>
            <!-- 라벨 -->

            <!-- 텍스트 -->
            <div class="relative pb-[20px]">
              <h3 class="leading-[1.15] text-lg sm:text-2xl sm:leading-[1.47] lg:text-3xl text-brown">1984년 한국 진출 이후 열심히 성장해온 버거킹 코리아!</h3>
            </div>
            <!-- 텍스트 -->

            <!-- 이미지 -->
            <div class="mt-auto mx-[-20px] mb-[-20px] rounded-b-[20px] overflow-hidden relative"><img src="/src/assets/main/growth.webp" alt="" /></div>
            <!-- 이미지 -->
          </div>
        </li>
        <!-- 수상실적 -->
      </ul>
    </div>
    <!-- 고객과 함께 성장하는 버거킹 -->

    <!-- Top 배너 -->
    <div class="mb-10">
      <ul class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
        <!-- 첫 번째 배너(동영상) -->
        <li class="col-span-1 md:col-span-2 lg:col-span-2 row-span-2">
          <div class="rounded-[20px] h-full relative">
            <img class="rounded-[20px] h-full" src="/src/assets/main/banner_7.webp" alt="" />
            <!-- 그라디언트 -->
            <div class="absolute inset-0 rounded-[20px] bg-gradient-to-b from-transparent to-black opacity-30"></div>
            <!-- 그라디언트 -->

            <!-- 인디케이터 -->
            <div class="relative">
              <ul class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex space-x-3 h-6 sm:space-x-4 lg:space-x-5 xl:space-x-6">
                <li class="w-6 h-2 bg-white rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-2 h-2 bg-gray-300 rounded-full"></li>
                <li class="w-0 h-0 -mt-[3px] border-l-8 border-l-transparent border-r-8 border-r-transparent border-b-16 border-b-white transform rotate-90"></li>
              </ul>
            </div>
            <!-- 인디케이터 -->
          </div>
        </li>
        <!-- 첫 번째 배너 -->

        <!-- 두 번째 배너 -->
        <li class="col-span-1">
          <div class="flex flex-col h-full min-h-[180px] sm:min-h-[220px] lg:min-h-[220px] lg:text-3xl lg:justify-center font-BKBulMatPro rounded-[20px] text-center text-2xl leading-[1.23] bg-light-beige p-5 bg-[url('/src/assets/elements/bg_home_appdown.svg')] bg-no-repeat bg-[right_12px_bottom_20px]">
            <!-- 텍스트 -->
            <h2 class="text-brown sm:flex sm:items-center sm:justify-center lg:items-center lg:justify-center">앱 다운로드 받고 <br />할인쿠폰 활용하기!</h2>
            <!-- 텍스트 -->
            <div class="flex mt-auto items-center lg:relative lg:w-[260px] lg:block lg:m-[20px_auto_0px_auto] lg:pl-[110px]">
              <!-- 큐알 코드 -->
              <div class="hidden lg:absolute lg:left-0 lg:top-0 lg:block">
                <img src="/src/assets/main/app_download_qr.svg" width="100px" height="100px" alt="App download" />
              </div>
              <!-- 큐알 코드 -->

              <!-- Google Play 버튼 -->
              <button class="flex-1 h-[38px] flex items-center cursor-pointer justify-center p-[2px_5px_1px_5px] bg-beige rounded-[50px] sm:w-[150px] sm:h-[42px] sm:m-[17px_5px_0px_5px] lg:mt-0">
                <img src="/src/assets/main/btn_down_aos_w.svg" alt="Google Play에서 다운로드" />
              </button>
              <!-- Google Play 버튼 -->

              <!-- App Store 버튼 -->
              <button class="flex-1 h-[38px] flex items-center cursor-pointer justify-center p-[2px_5px_1px_5px] bg-beige rounded-[50px] ml-[10px] sm:w-[150px] sm:h-[42px] sm:m-[17px_5px_0px_5px] sm:ml-0 lg:m-[17px_5px_0px_5px]">
                <img src="/src/assets/main/btn_down_ios_w.svg" alt="App Store에서 다운로드" />
              </button>
              <!-- App Store 버튼 -->
            </div>
          </div>
        </li>
        <!-- 두 번째 배너 -->

        <!-- 세 번째 배너 -->
        <li class="col-span-1">
          <div class="relative h-full flex flex-col min-h-[180px] sm:min-h-[220px] text-2xl lg:text-3xl text-center leading-[1.23] font-BKBulMatPro rounded-[20px] p-[25px_20px] text-light-beige bg-[url('/src/assets/elements/bg_home_search.svg')] bg-no-repeat bg-[center_bottom_20px] bg-brown">
            <h2 class="min-h-[24px] sm:min-h-[47.5px] lg:min-h-[55px]">내 주변 버거킹 매장 찾기</h2>
            <button class="absolute inset-0 border-0 bg-transparent cursor-pointer p-0 indent-[-999em;]"><span>버거킹 매장 찾기로 이동</span></button>
          </div>
        </li>
        <!-- 세 번째 배너 -->
      </ul>
    </div>
    <!-- Top 배너 -->
  </body>
</html>
